includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    reportUnmatchedIgnoredErrors: true

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        - 'src/Fixture/StockMovementFixture.php'

    ignoreErrors:
        - '/Parameter #1 $configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration() expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface|null given./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Message\\Command\\SendReport\:\:getReportId\(\) has no return typehint specified\./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Message\\Command\\ProcessReportConfiguration\:\:getReportConfigurationId\(\) has no return typehint specified\./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Controller\\Action\\ProcessReportConfigurationAction\:\:__invoke\(\) has parameter \$id with no typehint specified\./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Controller\\Action\\RevalidateAction\:\:__invoke\(\) has parameter \$id with no typehint specified./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Form\\DataTransformer\\UrlToHostTransformer\:\:transform\(\) has parameter \$host with no typehint specified\./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Form\\DataTransformer\\UrlToHostTransformer\:\:reverseTransform\(\) has parameter \$url with no typehint specified\./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Form\\DataTransformer\\EmailsToArrayTransformer\:\:transform\(\) has parameter \$arr with no typehint specified\./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Form\\DataTransformer\\EmailsToArrayTransformer\:\:reverseTransform\(\) has parameter \$str with no typehint specified\./'
        - '/Method Setono\\SyliusStockMovementPlugin\\Controller\\Action\\SendReportAction\:\:__invoke\(\) has parameter \$id with no typehint specified\./'
